*
    box-sizing: border-box
body 
    margin: 0
    padding: 0

.wrapper
    height: 100vh
    overflow: hidden
    display: block
    position: relative
    padding: 30px
    background-color: $main-color

